.timer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 190px;
}

.timer-button__icon {
  width: 30px;
  margin-right: 8px;
  padding-top: 8px;
}

.timer-button__icon:hover {
  scale: 0.8;
}

.timer-time {
  font-size: 15px;
}
